.imagem-cadastro {
  background-image: url(https://images7.alphacoders.com/615/615565.jpg);
  background-repeat: non-repeat;
  width: 100vh;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
.padding-10{
  padding: 20px;
}

.btn-cancelar{
  margin-right: 20px !important;
}

.background-cadastro{
  background: linear-gradient(500deg,#bc77,#0e0811,#622e58,#6c4898,#8086d4);
}

