.cor-home {
  background-color: #000000;
}

.titulo {
  color: white;
}

.botão {
  background-color: #3f51b5;
  color: #3f51b5;
}

.background-branco{
  background-color:#3f51b5 ;
}

.background-home{
  background: linear-gradient(200deg,#bc77,#0e0811,#622e58,#6c4898,#8086d4);
}

/* .background{
  background-image: url("../../assets/images/arcane.jpg");
  background-repeat: no-repeat;
  width: 100vh;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
} */

.background-img{
  background-image: url("https://c4.wallpaperflare.com/wallpaper/973/891/680/the-avengers-avengers-endgame-avengers-endgame-gamora-zoe-saldana-hd-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  width: 100vh;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}